{%extends 'base.html'%}
{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="overlay">
    <p class="screen">Legal assist is a website that aids in getting you to your legal documents in a quick and automated way.</p>
    <div class="intro">
      <button class="myBtn" onclick="fadeOut()">ENTER LEGAL ASSIST</button>
    </div>
  </div>
  <div class="overlay-2">

  </div>
  <div class="main-page">
    <h1>Landing Page</h1>
    <p class="data"> Lorem ipsum dolor sit amet, labitur quaerendum quo ad, duo et diam sapientem. His ne dolorum debitis invenire, an essent adipisci referrentur vix, vitae eripuit vis no. Vix quem nobis delicatissimi ei, in melius aperiam mei, cibo ocurreret definiebas vim eu. Per utinam possim fabellas et. Quo eros intellegam consequuntur ad, albucius voluptatum percipitur qui ne. Lorem ceteros vivendum ne sea, vim te doming vocibus liberavisse, minim tollit his id. </p>

  </div>

</div>




{% endblock %}
